@model IEnumerable<ViewModels.ResultViewModel>

@{
    ViewData["Title"] = "Result";

}

<h4>Student Exam Results</h4>
<hr />
<div id="parentDiv">
    <p class="text-center h3">Exam Report</p>
    <br />
    <div>
        <table id="resultGrid"
               class="table table-hover table-bordered dt-responsive nowrap"
               width="70%" cellspacing="0">
            <thead class="thead-light">
                <tr>
                    <th>Exam Name</th>
                    <th>Total Questions</th>
                    <th>Correct</th>
                    <th>Wrong</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ExamName</td>
                        <td>@item.TotalQuestions</td>
                        <td>@item.CorrectAnswer</td>
                        <td>@item.WrongAnswer</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<hr />
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Student List</a> |
    <a id="printPDF" class="btn btn-outline-info">Print</a><p><em><small>Click <i>print</i> button to print the student result pdf!</small></em></p>
</div>

@section scripts{ 
    <script>
        $("#printPDF").click(function () {
            var element = document.getElementById('parentDiv');

            html2pdf().from(element).set({
                margin: [30, 10, 5, 10],
                pagebreak: { avoid: 'tr' },
                jsPDF: {orientation: 'landscape', unit:'pt', format:'letter', compressPDF:true}
            }).save()
        })
    </script>
}