@model IEnumerable<ViewModels.ResultViewModel>

@{
    ViewData["Title"] = "ViewResult";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}

<h4>Exam Results</h4>
<hr />
<div>
    <p class="text-center h3">Exam Report</p>
    <br />
    <div>
        <table id="resultGrid"
               class="table table-stiped table-bordered dt-responsive nowrap"
               width="70%" cellspacing="0">
            <thead>
                <tr>
                    <th>Exam Name</th>
                    <th>Total Questions</th>
                    <th>Correct</th>
                    <th>Wrong</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ExamName</td>
                        <td>@item.TotalQuestions</td>
                        <td>@item.CorrectAnswer</td>
                        <td>@item.WrongAnswer</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<hr />
<div>
    <a asp-action="Profile" class="btn btn-outline-info">Profile</a>
</div>