<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand ml-1" asp-area="" asp-controller="Home" asp-action="Index">Online Examination</a>
                <ul type="none" class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-link pl-3 pr-3 border-right pb-0 pt-0 mt-2 border-secondary" asp-area="" asp-controller="Exams" asp-action="Index">Exams</a>

                    </li>
                    <li>
                        <a class="nav-link pl-3 pr-3" asp-area="" asp-controller="QnAs" asp-action="Index">Q&As</a>

                    </li>
                    <li>
                        <a class="text-decoration-none btn btn-outline-secondary rounded-right float-right"
                           asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>

                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Online Examination - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/html2pdf.bundle.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
